
target/

# Eclipse
.project
.cache
.classpath

# GWT
.gwt

# No temp files
*~

# skip pre-compiled Vaadin widgetssets
collabsearch/collabsearch-adminui/src/main/webapp/VAADIN/widgetsets/
collabsearch/collabsearch-adminui/src/main/webapp/VAADIN/widgetsets/*